

body {
    text-align: center;
    background-color: rgb(231, 154, 255);
}
.coracao {
    height: 500px;
    width: 500px;
    animation: coracao 1.2s infinite;
    color: rgb(231, 154, 255);
}

h1 {
    color: rgb(114, 0, 99);
    font-size: 100px;
}

h2 {
    color: rgb(153, 0, 255);
    font-size: 50px;
}

@keyframes coracao {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.2%;
      }
    100% {
        opacity: 1;
    }
     }
